@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap');


*:focus {
    outline: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 1.5em;
    user-select:none;
    background-color: white;
}

.App{
    display: grid;
    grid-template-columns: 23% 45% 32% ;
}
.Header{
    height:2.1em;
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
    padding:0px 20px 10px 20px;
    background-color: white;
}
.headerImg{
    height: 100%;
    width: calc(height);
}
.headerTitle{
    margin:0;
    padding:10px 0;
    align-self: center;
}

.Messages{
    position:fixed;
    width: 30%;
    box-shadow: 0px 0.5px 9px 0px rgb(214, 212, 214);
    bottom:0px;
    right:15px;
    border-radius: 20px 20px 0 0;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    
}
.messageInner{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Messages:hover{
    cursor: pointer;
}
.messageInner>p{
    margin:0;
    padding: 15px;
    width: max-content;   
}
.messageIconLeft{
    margin-left: auto;
}
.messageIcon{
    padding: 10px;
    border-radius: 50%;
}
.messageIcon:hover{
    background-color:#E7E7E8;
}

.LeftSideBar{
    border-right: 1px solid rgb(239,243,244);
    padding-left:30px;
}
.LeftSideBarLinks{
    display: flex;
    flex-direction: row;
    align-items: center; 
    padding: 13px 20px 13px 20px;
    width: max-content;
    font-weight: 500;
}
.LeftSideBarLinks:hover{
    cursor: pointer;
    background-color:#E7E7E8;
    border-radius: 40px;
}
.LeftSideBarLinks h3{
    font-size: 0.9em;
    margin:0;
    margin-left: 20px;
}
.twitterIcon{
    color: #1D9BF0;
    font-size: 1.25em;
    margin: 0;
    padding: 10px;
}
.twitterIcon:hover{
    cursor: pointer;
    border-radius: 50%;
    background-color: #E8F5FD;
}
.tweetButtonLeftSideBar{
    Background-color: #1D9BF0;
    color:white;
    border: none;
    padding:12px 80px;
    border-radius: 40px;
    font-weight: 400;
    font-size: 0.8em;
    margin-top: 10px;
    
}
.tweetButtonLeftSideBar:hover{
    cursor: pointer;
    background-color: #1A8CD8;
}

.profileInfo{
    display: flex;
    margin-top:15px;
    padding: 15px 20px 15px 20px;
}
.displayProfile{
    display: grid;
}
.profileInfo:hover{
    cursor: pointer;
    background-color:#E7E7E8;
    border-radius: 40px;
}
.profileInfoPic{
    grid-column: 1 ;
    margin-right:8px;
}
.displayProfileInfo{
    grid-column: 2/ span 100 ;   
}
.profileInfoDots{
    align-self: center;
}
.profileName{
    margin:0;
    font-size: 0.7em;
    width: max-content;
}
.profileId{
    margin:0;
    font-size: 0.6em;
    color:#5B6B78;
    width: max-content;
}
.Main{
    border-right: 1px solid rgb(239,243,244);
}
.MyPost{
    border-bottom: 1px solid rgb(239,243,244);
    padding:0px 20px;
}
.tweetButtonPost{
    
    color:white;
    border: none;
    padding:10px 20px;
    border-radius: 40px;
    font-weight: 400;
    font-size: 0.6em;
}

.home{
    font-size: 0.9em;
    margin: 0;
}
.home:hover{
    cursor: pointer;
}
.sparkleIcon{
    font-size: 0.9em;
    padding: 10px;
    border-radius: 50%;
}
.settingsIcon{
    font-size: 0.9em;
    padding: 10px;
    border-radius: 50%;
}
.settingsIcon:hover{
    background-color:#E7E7E8;
    cursor: pointer;
}
.sparkleIcon:hover{
    background-color:#E7E7E8;
    cursor: pointer;
}
.postHome{
    display: flex;
    justify-content: space-between;
}

.postTextArea{
    display: grid;
    margin-bottom: 20px;
}
.profilePic{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.profilePic:hover{
    cursor: pointer;
}
.profileMainPic{
    grid-column: 1 ;
    grid-row: 1 /span 2;
}
.everyoneReply{
    grid-column: 2/ span 10 ;
    grid-row: 2 ;
    color: #1D9BF0;
    font-size: 0.6em;
    font-weight: 700;
    padding:2px 10px;
    letter-spacing: -0.05em;
    width: fit-content;
    border-radius: 40px;
}
.everyoneReply:hover{
    background-color: #E1EEF6;
    cursor: pointer;
}

.earthIcon{
    padding-right: 5px;
}
.homeTextArea{
    border: none;
    grid-column: 2/ span 10 ;
    grid-row: 1 ;
    height:50px;
    font-size: 0.9em;
    font-weight: 100;
}
.homeTextArea::placeholder{
    font-size: 0.9em;
}
.homeTextArea:focus{
    outline: 0;
}
.subIcons{
    display: flex;
    grid-column:2/ span 10 ;
    grid-row: 3 ;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.homeSubIcons{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}
.homeSubIcons > .postIcon{
    color: #1D9BF0;
    font-size: 0.9em;
    padding: 10px;
    border-radius: 50%;
}
.postIcon:hover{
    background-color: #E1EEF6;
    cursor: pointer;
}
.RightSideBar{
    border-left: 1px solid rgb(239,243,244);
    padding:0px 45px 0 30px;
}
.SearchBar{
    margin-top: 10px;
    width: 95%;
    background-color: #EFF3F4;
    padding: 6px 15px ;
    border-radius: 30px;
    display: flex;
    align-items: center;
}
input{
    border: none;
    background-color: transparent;
    font-size: 1em;
}
input::placeholder{
    font-size: 0.65em;
    color: #536471; 
}
.searchIcon{
    color: #536471;
    font-size: 0.8em;
    margin-right: 20px;
}
.WhatsHappening{
    height: 100%;
    width: 100%;
    margin-top: 20px;
    background-color: #F7F9F9;
    border-radius: 30px;
    padding-left: 20px;
}
.WhatsHappening h5{
    padding-top:20px;
}


.DisplayUserPosts{
    display: grid;
    border-bottom: 1px solid rgb(239,243,244);
    padding:10px 10px 0 10px;
    width: 100%;
}
.DisplayUserPosts:hover{
    cursor: pointer;
}

.authorImg{
    height: 40px;
    width:40px;
    border-radius: 50%;
    grid-column: 1;
    grid-row: 1/span 2;
}
.authorInfo{
    grid-column: 2/ span 10;
    grid-row: 1;
    display: flex;
    padding-left: 10px;
}
.authorName,
.authorProfile,
.profileInfoDots,
.postTime{
    align-self:top;
    margin:0;
    margin-right: 0.5em;
    
}
.displayPostContent{
    grid-column: 2/ span 8;
    grid-row: 2;
    padding-left: 10px;
    margin:0;
    font-size: 0.7em;
    max-width: 100%;
}
.postStats{
    display: flex;
    grid-column: 2/ span 10;
    grid-row: 3;
    padding-left:10px;
    justify-content: space-between;
    width: 80%;
}
.authorName{
    font-size: 0.75em;
}
.authorProfile, 
.postTime{
    color:#50575c;
    font-size: 0.7em;
    font-weight: 300;
}
.profileInfoDots{
    color:#50575c;
    padding-right: 20px;
    margin-left: auto;
    margin-bottom: auto;
}

.postStats{
    display: flex;
}
.retweetIcon{
    transform: rotate(90deg);
}
.retweetIcon,
.commentIcon,
.likeIcon,
.shareIcon{
    padding: 10px 10px;
    border-radius: 50%;   
}
.postStatsIcons{
    display: flex;
    font-weight: 300;
    font-size: 0.7em;
    color:#50575c;
    align-items: center;
}
.postImage{
    height: 90%;
    width: 90%;
    border-radius: 10px;
    margin-top: 5px;
}
.postContent{
    margin:5px 0;
    font-weight: 300;
    font-size: 1em;
}

.postCommentIcon:hover .commentIcon,
.postShareIcon:hover .shareIcon{
    background-color: #E1EEF6;
    color:#6DBDF2;  
}
.postCommentIcon:hover p{
    color:#6DBDF2;
}
.postRetweetIcon:hover .retweetIcon{
    background-color: #DEF1EB;
    color:#1EC18B;
    
}
.postRetweetIcon:hover p{
    color:#1EC18B;
}
.postLikeIcon:hover .likeIcon{
    background-color: #F7E0EB;
    color:#F8519E;
    
}
.postLikeIcon:hover p{
    color:#F8519E;
}


.DisplayWhatsHappening{
    margin-bottom: 25px;
}
.dwhInfo,
.dwhTitle,
.dwhAdditionalInfo{
    margin: 0;
    padding: 3px;
}

.dwhInfo,
.dwhAdditionalInfo{
    font-size: 0.6em;
    color: #536471;
}
.dwhTitle{
    font-size: 0.7em;
    font-weight: 600;
}
.dwhHasImg{
    display: grid;
}
.dwhHasImgInfo{
    grid-column: 1;
    grid-row: 1;
}
.dwhHasImgTitle{
    grid-column: 1;
    grid-row: 2;
}

.dwhHasImgAdditionalInfo{
    grid-column: 1;
    grid-row: 3;
}
.dwhImg{
    grid-column: 2;
    grid-row: 1/span 3;
    height: 80%;
    width: 80%;
    border-radius: 10px;
}
.NewMessagePopup{
    height: 100vh;
    width:100%;
    position: fixed;
    background: #00000050;
    top:0;
    left:0;
}
.popupBox{
    position: relative;
    background-color: #ffffff;
    width: 45%;
    height: 85%;
    max-height: 90vh;
    border-radius: 15px 15px 15px 15px;
    margin: 0 auto;
    padding: 15px 0 15px 15px;
    margin-top: calc(100vh - 90vh - 20px);
}

.popup-top{
    display: flex;
    padding-right: 20px;
}
.popup-top>h5{
    margin: 0;
    margin-left: 7%;
    align-self: center;
}
.popup-top>button{
    margin-left: auto;
    background-color: #878A8C;
    color:white;
    border: none;
    padding:8px 20px;
    
    border-radius: 40px;
    font-weight: 400;
    font-size: 0.6em;
}
.closeIcon{
    padding: 5px;
    border-radius: 50%;
}   
.closeIcon:hover{
    background-color:#E7E7E8;
}
.popup-search{
    margin-top: 10px;
    padding:10px;
    border-bottom: 1px solid rgb(239,243,244);
}
.popup-search:hover{
    background-color: F7F9F9;
    cursor: pointer;
}
.popup-search>input{
    padding-left: 20px;
}
.popup-searchIcon{
    color: #1D9BF0;
    font-size: 0.8em;
   
}
.popup-group{
    padding: 15px 0;
    border-bottom: 1px solid rgb(239,243,244);
    display: flex;
}
.popup-group:hover{
    background-color: #F7F9F9;
}
.popup-group>h6{
    margin: 0;
    color: #1D9BF0;
    align-self:center;
    padding: 0 10px
}
.groupIcon{
    border:1px solid #b5b6b6;
    border-radius: 50%;
    color:#1D9BF0;
    padding: 8px;
    font-size: 0.9em;
}
.groupIcon:hover{
    cursor: pointer;
    background-color:#E1F0F8;
}
.popupUsers{
    overflow-y: scroll;
    height: 59vh;
}
.popup-displayProfile{
    padding: 10px 0;
}
.popup-displayProfile:hover{
    cursor: pointer;
    background-color:#E7E7E8;
}
.MessageExpand{
    display: grid;
    padding: 10px;
}
.MessageExpand:hover{
    background-color: #F7F9F9;
}
.MessageExpandPic{
    grid-row:1/ span 2;
    grid-column: 1;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.MessageExpandInfo{
    grid-row:1;
    grid-column: 2 / span 100;
    display: flex;
    padding:0 10px;
}
.MessageExpandInfo > p{
    padding-left:5px;
}
.MessageExpandMsg{
    grid-row:2;
    grid-column: 2 / span 100;
    margin:0;
    padding:0 10px;
}
.Notifications{
    border-right: 1px solid rgb(239,243,244);
}
.AllNotifications{
    display:flex;
    flex-direction: row;
    padding:20px 50px 20px 20px;
    border-bottom: 1px solid rgb(239,243,244);
}
.AllNotifications>span{
    display: flex;
    flex-direction: column;
    width:100%;
    padding-left:10px;
}
.AllNotificationsIcon{
    height: 40px;
    width: 40px;
}
.heartIcon{
    color:#F91880;
}
.userIcon{
    color:#1D9BF0;
}
.retweetedIcon{
    color:#00BA7C;
}
.postAction{
    margin:0;
    font-size: 0.7em;
    width: max-content;
}
.tweetData{
    margin:0;
    font-size: 0.7em;
    color:#5B6B78;
    white-space: pre-wrap;
}
.notificationType{
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    border-bottom: 1px solid rgb(239,243,244);
}
.notificationType>h6{
    margin:0;
    margin-left:1em;
    align-self: center;
    padding: 12px;
    border-width: 10px;
}
.notificationType>h6>.active{
    border-bottom: 5px solid #1D9BF0;
    padding: 7px;
}
.Header .SearchBar{
    width:70%;
}
.Explore{
    /* border: 1px solid red; */
    
}
.exploreCategories{
    list-style:none;
    margin: 10px 0;
    padding: 0;
    display: flex;
    border-bottom: 1px solid rgb(239,243,244);
    justify-content: space-evenly;
}
.categories{
    font-size: 0.8em;
    color:#5B6B78;
}


@media screen and (max-width: 480px) {
    body {
    width: 100%;
    }

    .App{
        display: grid;
        grid-template-rows: 4% 92% 4% ;
        overflow-x: hidden;
    }
    .Header{
        position: absolute;
        top:0;
        height: 4%;
        padding:10px 20px;
        border-bottom: 1px solid rgb(239,243,244);

    }
    .Header>h5{
        padding:0;
        margin-left:1em;
    }
    
    .Footer{
        position: fixed;
        bottom:0;
        height: 4%;
        width: calc(100% - 60px);
        background-color: white;
        display: flex;
        justify-content: space-between;
        padding:10px 30px;
        border-top: 1px solid rgb(239,243,244);

    }
    .Main{
        margin-top: 70%;
        margin-bottom:70%;
    }
    .DisplayUserPosts{
        padding:10px 10px 0 20px;
        width: calc(100vw - 30px);
    }
    .Messages{
        height:100vh;
        width:100vw;
        position:relative;
        box-shadow: none;
        padding: 10px;
        margin-top:70%;
        margin-bottom:70%;
        border-radius: none;
        padding:20px 50px 20px 20px;
    }
    .authorName,
    .authorProfile,
    .profileInfoDots,
    .postTime{
    margin-right: 0.1em;
    
    }
    .MessageExpand{
        padding:20px 10px;
    }

    .DisplayNotification{
        margin-top:70%;
        margin-bottom:70%;
        border-right: 1px solid rgb(239,243,244);
        width:100vw;
    }


    
  }