@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap');


*:focus {
    outline: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 1.5em;
    user-select:none;
}

.App{
    display: grid;
    grid-template-columns: 23% 45% 32% ;
}
.LeftSideBar{
    border-right: 1px solid rgb(239,243,244);
    padding-left:30px;
}
.LeftSideBarLinks{
    display: flex;
    flex-direction: row;
    align-items: center; 
    padding: 13px 20px 13px 20px;
    width: max-content;
    font-weight: 500;
}
.LeftSideBarLinks:hover{
    cursor: pointer;
    background-color:#E7E7E8;
    border-radius: 40px;
}
.LeftSideBarLinks h3{
    font-size: 0.9em;
    margin:0;
    margin-left: 20px;
}
#twitterIcon{
    color: #1D9BF0;
    font-size: 1.25em;
    margin: 0;
    padding: 10px;
}
#twitterIcon:hover{
    cursor: pointer;
    border-radius: 50%;
    background-color: #E8F5FD;
}
.tweetButtonLeftSideBar{
    Background-color: #1D9BF0;
    color:white;
    border: none;
    padding:12px 80px;
    border-radius: 40px;
    font-weight: 400;
    font-size: 0.8em;
    margin-top: 10px;
    
}
.tweetButtonLeftSideBar:hover{
    cursor: pointer;
    background-color: #1A8CD8;
}

.profileInfo{
    display: grid;
    margin-top:15px;
    padding: 15px 20px 15px 20px;
    
}
.profileInfo:hover{
    cursor: pointer;
    background-color:#E7E7E8;
    border-radius: 40px;
}
.profileInfoPic{
    grid-column: 1 ;
}
.displayProfileInfo{
    grid-column: 2 ;   
}
.profileInfoDots{
    grid-column: 3;
    align-self: center;
}
#profileName{
    margin:0;
    font-size: 0.7em;
}
#profileId{
    margin:0;
    font-size: 0.6em;
    color:#5B6B78
}
.Main{
    border-right: 1px solid rgb(239,243,244);
}
.MyPost{
    border: 1px solid rgb(239,243,244);
    padding:10px 20px 0 20px;
}
#tweetButtonPost{
    Background-color: #8ECDF8;
    color:white;
    border: none;
    padding:10px 20px;
    border-radius: 40px;
    font-weight: 400;
    font-size: 0.6em;
}

#home{
    font-size: 0.9em;
    margin: 0;
}
#home:hover{
    cursor: pointer;
}
#sparkleIcon{
    font-size: 0.9em;
    padding: 10px;
    border-radius: 50%;
}
#sparkleIcon:hover{
    background-color:#E7E7E8;
    cursor: pointer;
}
.postHome{
    display: flex;
    justify-content: space-between;
}

.postTextArea{
    display: grid;
    margin-bottom: 20px;
}
.profilePic{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.profilePic:hover{
    cursor: pointer;
}
.profileMainPic{
    grid-column: 1 ;
    grid-row: 1 /span 2;
}
.everyoneReply{
    grid-column: 2/ span 10 ;
    grid-row: 2 ;
    color: #1D9BF0;
    font-size: 0.6em;
    font-weight: 700;
    padding:2px 10px;
    letter-spacing: -0.05em;
    width: fit-content;
    border-radius: 40px;
}
.everyoneReply:hover{
    background-color: #E1EEF6;
    cursor: pointer;
}

.earthIcon{
    padding-right: 5px;
}
#homeTextArea{
    border: none;
    grid-column: 2/ span 10 ;
    grid-row: 1 ;
    height:50px;
    font-size: 0.9em;
    font-weight: 100;
}
#homeTextArea::placeholder{
    font-size: 0.9em;
}
#homeTextArea:focus{
    outline: 0;
}


.subIcons{
    display: flex;
    grid-column:2/ span 10 ;
    grid-row: 3 ;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.homeSubIcons{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}
.homeSubIcons > .postIcon{
    color: #1D9BF0;
    font-size: 0.9em;
    padding: 10px;
    border-radius: 50%;
    /* border:2px solid red */
}
.postIcon:hover{
    background-color: #E1EEF6;
    cursor: pointer;
}
.RightSideBar{
    border-left: 1px solid rgb(239,243,244);
    padding:8px 45px 0 30px;
}
.search{
    width: 95%;
    background-color: #EFF3F4;
    padding: 8px 15px ;
    border-radius: 30px;
    display: flex;
    align-items: center;
}
input{
    border: none;
    background-color: transparent;
    font-size: 1em;
}
input::placeholder{
    font-size: 0.65em;
    color: #536471; 
}
#searchIcon{
    color: #536471;
    font-size: 0.8em;
    margin-right: 20px;
}
.WhatsHappening{
    height: 100%;
    width: 100%;
    margin-top: 20px;
    background-color: #F7F9F9;
    border-radius: 30px;
    padding-left: 20px;
}
.WhatsHappening h5{
    padding-top:20px;
}


.DisplayUserPosts{
    display: grid;
    border-bottom: 1px solid rgb(239,243,244);
    padding:10px 20px 0 20px;
    width: 100%;
}
.DisplayUserPosts:hover{
    cursor: pointer;
}

.authorImg{
    height: 40px;
    width:40px;
    border-radius: 50%;
    grid-column: 1;
    grid-row: 1/span 2;
}
.authorInfo{
    grid-column: 2/ span 10;
    grid-row: 1;
    display: flex;
    padding-left: 10px;
}
.authorName,
.authorProfile,
.profileInfoDots,
.postTime{
    align-self:top;
    margin:0;
    margin-right: 0.5em;
    
}
.displayPostContent{
    grid-column: 2/ span 8;
    grid-row: 2;
    padding-left: 10px;
    margin:0;
    font-size: 0.7em;
    max-width: 100%;
}
.postStats{
    display: flex;
    grid-column: 2/ span 10;
    grid-row: 3;
    padding-left:10px;
    justify-content: space-between;
    width: 80%;
}
.authorName{
    font-size: 0.75em;
}
.authorProfile, 
.postTime{
    color:#50575c;
    font-size: 0.7em;
    font-weight: 300;
}
.profileInfoDots{
    color:#50575c;
    padding-right: 20px;
    margin-left: auto;
    margin-bottom: auto;
}

.postStats{
    display: flex;
}
.retweetIcon{
    transform: rotate(90deg);
}
.retweetIcon,
.commentIcon,
.likeIcon,
.shareIcon{
    padding: 10px 10px;
    border-radius: 50%;   
}
.postStatsIcons{
    display: flex;
    font-weight: 300;
    font-size: 0.7em;
    color:#50575c;
    align-items: center;
}
.postImage{
    height: 90%;
    width: 90%;
    border-radius: 10px;
    margin-top: 5px;
}
.postContent{
    margin:5px 0;
    font-weight: 300;
    font-size: 1em;
}

.postCommentIcon:hover .commentIcon,
.postShareIcon:hover .shareIcon{
    background-color: #E1EEF6;
    color:#6DBDF2;  
}
.postCommentIcon:hover p{
    color:#6DBDF2;
}
.postRetweetIcon:hover .retweetIcon{
    background-color: #DEF1EB;
    color:#1EC18B;
    
}
.postRetweetIcon:hover p{
    color:#1EC18B;
}
.postLikeIcon:hover .likeIcon{
    background-color: #F7E0EB;
    color:#F8519E;
    
}
.postLikeIcon:hover p{
    color:#F8519E;
}
